//mixins

//colors
$background: rgb(201, 180, 213)
$buttons: rgb(77, 135, 212)

body
  background-color: $background
  display: flex
  justify-content: center
  align-items: center
  height: 100vh

h1
  font:
    family: 'open sans'
    size: 24pt
    weight: 600
  color: rgb(77, 77, 77)

#searchDiv
  text-align: center

button
  background-color: $buttons
  display: block
  margin: auto
  border:
    radius: 5px
    size: 1px
    style: solid
    color: rgb(75, 75, 75)

input
  margin: auto
  &:focus
    outline: none

#randomGif
  font:
    family: 'open sans'
    size: 40pt

#output
  display: block

img
  max-height: 200px
  max-width: 200px
